node_modules/
coverage/
.nyc_output/
.DS_Store
**/.DS_Store
**/**/.DS_Store
**/**/**/.DS_Store
**/**/**/**/.DS_Store
.tmp/
config/
config/local.js
app/bower_components
debug.log
.npm
.bash_history
.v8flags.5.1.281.98.undefined.json
